/* 

display: flex;
flex-direction: row | row-reverse | column | column-reverse;
flex-wrap: wrap | nowrap | wrap-reverse;
justify-content: start | end | center et al;


*/

/* ------ base and universal styles ----- */

/* 1. reset the margin and padding to 0 using the universal selector */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* let's come back to what box-sizing means - it will make more sense when we can visualize it. */
}

body {
	background-color: #A60303;
	color: #F2F2F2;
	font-family: "futura-pt", sans-serif;

}

/* --------------- header styles ------------ */
/* 2. let's build out the header by turning it into a flex-container */

header {
	background-color: #F2F2F2;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

/* now we have a basic header set up, logo on the left, a title in the center and navigation on the right - so let's stylize a little further */

#logo {
	width: 10%
	/* 3. adjust the width of the image until you are happy. you can play with margins and padding - leave the background color on to see how it affects its neighbors */

	/* background color is to show space taken up by element, delete when complete */
}

h1 {
	color: #730202;
	text-shadow: 1px 1px #0d0d0d;
	font-size: 48px;
	text-align: center;
	letter-spacing: .0125em;
	align-self: center;

	/* 4. because the <h1> is a flex-item, or the child of a flex-container, we can use what is called align-self: self-end on the child, adjust it to center or the bottom */

	/* background color is to show space taken up by element, delete when complete */
}

h2, h3 {
	text-align: center;
}

nav {
	text-align: justify;
	text-justify: inter-word;

/* background color is to show space taken up by element, delete when complete */

/* 5. the nav has child elements right? so therefor the nav can also be a flex-container as well. Lets do that now. */
display: flex;
flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	width: 25%

/* 6. just like we did for the h1 element, we can use what is called align-items here, so it matches the h1 tag 

or, we can apply the align-items to the parent container and that will align everything
*/

}

a {
	text-decoration: none;
	color: #F20505;
	text-shadow: 1px 1px #0d0d0d;
	font-size: 18px;
}

a:hover {
	text-decoration: overline;
	color: #0d0d0d;
	text-shadow: -1px -1px #F20505;
}


/* --------------------------------------- */

/* -------- div styles --------------------- */



.didactic {
	background-color: #730202;
	text-align: center;
	color: #F2F2F2;
	text-transform: uppercase;
	font-size: 22px;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}


code {
	background-color: rgba(255,255,255,.75);
	color: #0d0d0d;
	padding: 3px;
}

/* ------------------------------------------ */

/* -------section styles */

section {
	/*7. the section is yet another opportunity to set up a flex-container, let's do that.  */
	/* 8. let's also set a right and left margin */

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-left: 2.5%;
	margin-right: 2.5%;
	
}

article {
	/* border is just to show space, be sure to delete it when complete */
/*  9. let's set a width - remember that it will be a percentage of the parent container */

	width: 50%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

}

p {
	text-align: justify;
	text-justify:inter-word;
}

.articleImg {
width: 100%;


/*  10. let's set a width - remember that it will be a percentage of the parent container */
}
/* 11. okay, it is looking great, but how would we adjust so that the images are all the same size and the text lines up? */

/*  now that we have a basic layout working we can adjust the articles as well. You can use this as a rough template for how to layout multi-columns for project one. 


*/

/* ------------------------------------------*/

/* -------- footer styles ------------------- */

h4 {
	color: #730202;
	text-shadow: 1px 1px #0d0d0d;
	font-size: 36px;
	text-align: center;
	/* padding: ; */
}

h5{
	font-size: 24px;
	text-align: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
footer {
	background-color: #F2F2F2;
	width: 100dvw;

}

p2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
